.alerta {
    padding: 15px;
    border-radius: 0.25rem;
    margin-bottom: 20px;
    border: 1px solid transparent;
    font-size: 1rem;
}

.sucesso {
    background-color: green;
    color: white;
}

.aviso {
    background-color: yellow;
    color: black;
}

.advertencia {
    background-color: red;
    color: black;
}