.alerta {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.sucesso {
    background-color: green;
    color: white;
}

.aviso {
    background-color: yellow;
    color: black;
}